.skill-list {
  list-style: none;
  padding-left: 0;
}

.skill-list li {
  position: relative;
  padding-left: 30px;
}

.skill-list li::before {
  content: "\2713";
  color: green;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
